<div id="new_project" class="modal">
    <div class="modal-content">
    	<h4 style="margin-bottom: 25px;">New Project</h4>
    	<form id="create_project" action="/projects" method="POST" class="col s12">
    		<div class="input-field col s6">
    			<input id="name" name="name" type="text">
    			<label for="name">Name</label>
    		</div>
    	</form>
    </div>
    <div class="modal-footer">
    	<a href="#!" id="project_ok" class="modal-action waves-effect waves-green btn-flat">Create</a>
    	<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancel</a>
    </div>
</div>