
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=1024"><!-- non responsive -->
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> --><!-- responsive -->
	<meta name="description" content="Nomad is a product recognition API built for enterprise solutions">
	<meta name="author" content="Nomad Team">
	<title>Nomad | API For Product Recognition</title>
	<link rel="icon" 
	  type="image/png" 
	  href="img/favicon.png">
	<link href="https://fonts.googleapis.com/css?family=Quicksand:400,500" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link href="css/landing-page.css" rel="stylesheet">
</head>

<body>
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-XXXXX-Y', 'auto');
	ga('send', 'pageview');
	</script>
	<div class="hero">
		<nav class="navbar navbar-default" role="navigation">    
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand"><img src="img/logo.png" class="img-responsive" style="height: 20px"></a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-center">
						<li><a href="#product">Product</a></li>
						<li><a href="#uses">Uses</a></li>
						<li><a href="#team">Team</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/documentation">Documentation</a></li>
						<li><a href="/signin">Login</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="vertical-align container" style="color: #eee">
			<div class="col-md-6">
				<h2 style="font-weight: 100; margin-bottom: 50px">API For Product Recognition</h2>
				<h4 style="font-weight: 100; margin-bottom: 50px">Fast image recognition to accelerate your business</h4>
				<a href="#product" class="btn-blue">Learn More</a>
			</div>
		</div>
		<div class="col-md-6 col-md-offset-6" style="margin-top: -170px;">
			<div class="demo">
				<video height=520 width=284 muted autoplay loop>
					<source src="demo.mp4" type="video/mp4">
					Your browser does not support the video tag
				</video>
			</div>
		</div>
		
	</div>

	<section id="product" style="margin-top: 100px">
		<div class="container">
			<h2 class="text-center">Meet Nomad</h2>
			<h4 style="margin-top: 50px;" class="text-center">Our deep learning algorithms accurately recognize your products in your images</h4>
			<div class="row">
				<div class="col-md-6" style="margin-top: 50px">
					<pre style="height: 300px"><code id="json">Press recognize to get a JSON response!</code></pre>
					<a id="recognize" class="btn-blue">Recognize</a>
				</div>
				<div class="col-md-6">
					<img src="img/loader.gif" id="loader" class="img-responsive loader">

					<div id="myCarousel" class="carousel slide" data-interval="false" data-ride="carousel" style="margin-top: 50px">
						  <ol class="carousel-indicators">
							<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
							<li data-target="#myCarousel" data-slide-to="1"></li>
							<li data-target="#myCarousel" data-slide-to="2"></li>
						  </ol>
						<div class="carousel-inner" role="listbox">
							<div class="item active">
								<img class="first-slide" src="img/handbag.jpg">
							</div>
							<div class="item">
							  <img class="second-slide" src="img/nikeflex.jpg" class="img-responsive img-rounded">
							</div>
							<div class="item">
							  <img class="third-slide" src="img/nikeair.jpg">
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>

	<section id="uses">
		<div class="container">
			<h2 class="text-center" style="margin-top: 25px">Unique Use Cases</h2>
			<div class="row text-center" style="margin-top: 50px">
				<div class="col-md-4">
					<h1><span class="glyphicon glyphicon-shopping-cart"></span></h1>
					<h4>Retail</h4>
				</div>
				<div class="col-md-4">
					<h1><span class="glyphicon glyphicon-phone"></span></h1>
					<h4>Advertisement</h4>
				</div>
				<div class="col-md-4">
					<h1><span class="glyphicon glyphicon-tags"></span></h1>
					<h4>Auto Tags</h4>
				</div>
			</div>
		</div>
	</section>

	<section id="ad_demo">
		<div class="container">
			<h2 class="text-center" style="margin-top: 100px">Utilized in Advertisement</h2>
			<h4 class="text-center" style="margin-top: 25px">Nomad found a product posted on social media and took us to the retailers site.</h4>
			<div class="ad_demo" style="margin-top: 50px">
				<video width=920 muted autoplay loop>
					<source src="ad_demo.mp4" type="video/mp4">
					Your browser does not support the video tag
				</video>
			</div>
		</div>
	</section>

	<section id="ad_about">
		<div class="container text-center">
			<h2>Power your Business</h2>
			<h4 style="margin-top:50px">Use Nomad to recognize products in pictures, advertise your products on social media, and automatically tag products</h4>
		</div>
	</section>

	<section id="team">
		<div class="container">
			<h2 class="text-center" style="margin-top: 100px">Meet the Team</h2>
			<h4 class="text-center" style="margin-top: 25px">Working Day In And Day Out</h4>
			<div class="row text-center" style="margin-top: 75px">
				<div class="col-md-3">
					<img src="img/ethan.jpg" class="img-circle img-responsive">
					<h4 style="margin-top: 25px">Ethan Reid</h4>
					<p>CEO</p>
				</div>
				<div class="col-md-3">
					<img src="img/pulkit.jpg" class="img-circle img-responsive">
					<h4 style="margin-top: 25px">Pulkit Mahajan</h4>
					<p>CTO</p>
				</div>
				<div class="col-md-3">
					<img src="img/devin.jpg" class="img-circle img-responsive">
					<h4 style="margin-top: 25px">Devin Mui</h4>
					<p>Lead Developer</p>
				</div>
				<div class="col-md-3">
					<img src="img/jesse.jpg" class="img-circle img-responsive">
					<h4 style="margin-top: 25px">Jesse Liang</h4>
					<p>Developer</p>
				</div>
			</div>
		</div>
	</section>

	<section style="background: #f5f5f5">
		<div class="sponsors">
			<div class="col-md-offset-3 col-md-2">
				<img src="img/nvidia.png" class="img-responsive">
			</div>
			<div class="col-md-2">
				<img src="img/hackcelerator.png" class="img-responsive">
			</div>
			<div class="col-md-2">
				<img src="img/hpe.png" class="img-responsive">
			</div>
		</div>
		
	</section>

	<div class="footer">
		<div class="container" style="padding-top: 75px; padding-bottom: 75px">
			<div class="col-md-3">
				<img src="img/logo.png" class="img-responsive" style="height: 25px;">
				<p>Product Recognition for Enterprise</p>
				<p>Copyright &copy; 2017 EPNomad Inc. All rights reserved</p>
			</div>
			<div class="col-md-3">
				<p>Contact</p>
				<p>hello@epnomad.com</p>
				<p>support@epnomad.com</p>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	<script src="js/isInViewport.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script>
		$('#loader').hide()
		$(function() {
		  $('a[href*="#"]:not([href="#"])').click(function() {
			if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
			  var target = $(this.hash);
			  target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
			  if (target.length) {
				$('html, body').animate({
				  scrollTop: target.offset().top
				}, 1500);
				return false;
			  }
			}
		  });
		});
		$(window).scroll(function(){
			// $('video').each(function(){
			//  if ($(this).is(":in-viewport")) {
			//      $(this)[0].play();
			//  } else {
			//      $(this)[0].pause();
			//  }
			// })
			if($('.ad_demo')[0].is(":in-viewport")){
				$('.ad_demo')[0].play()
			} else {
				$('.ad_demo')[0].pause()
			}
		})
		$('#recognize').click(function(){
			var currentIndex = $('div.active').index() // gets which picture
			$('#json').text('Doing magic...')
			$('#loader').fadeIn('fast')
			var recognized = ["Lambskin & Gold-Tone Metal Black & Burgundy Large Classic Handbag", "Nike Flex", "Nike Air Presto"]
			var urls = ["http://www.chanel.com/en_US/fashion/products/handbags/g/s.large-classic-handbag-lambskin.0V.A58601Y01295C3906.sto.ico.html","http://www.zappos.com/p/nike-flex-2016-rn-black-cool-grey-white/product/8662215/color/69638?zlfid=191&ref=","https://www.endclothing.com/au/nike-air-presto-848132-301.html"]
			var times = [149, 98, 110]
			var rand = Math.floor((Math.random() * 40) + 1)
			var price = ["6000","80.00", "69"]
			var currency = ["US","US","AU"]
			setTimeout(function(){
				$('#loader').hide()
				$('#json').text('{\n\t"result": {\n\t\t"recognized_as": "' + recognized[currentIndex] + '", \n\t\t"price": '+ price[currentIndex] +', \n\t\t"currency": "'+ currency[currentIndex] +'",\n\t\t"url": "' + urls[currentIndex] + '",\n\t\t"elapsed_time": "'+ (times[currentIndex] - 20 + rand)/1000 + "s" +'"\n\t}\n}')
			}, 1000)
		})
	</script>
</body>