<!DOCTYPE html>
<html>
<head>
	<title>Documentation | Nomad Recognition</title>
	<% include ../partials/head.ejs %>
</head>
<body>
	<% include partials/header.ejs %>
	<!-- maybe add a cover photo here -->
	<div class="container">
		<h2>Choose your flavor:</h2>
	 	<% for(var i=0;i<docs.length;i++){ %>
 			<div class="col-md-2">
				<h2 class="text-center flavor"><a href="/documentation/<%= docs[i].replace('.md', '') %>"><%= docs[i].replace('.md', '') %></a></h2>
			</div>
	 	<% } %>
	</div>
</body>
</html>